@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Raleway:ital,wght@1,600&family=ZCOOL+KuaiLe&display=swap');

:root{
    --bgColor: #3d5a80;
    --secondaryBg: #98c1d9;
    --menuLinkBg: #293241;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--bgColor);
    width: 100%;
}

body{
    color: #f3f3f3;
    font-family: 'Raleway', sans-serif;
    background-color: var(--bgColor);
}

a{
    text-decoration: none;
}

/* SECCION HEADER */

header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header .brand{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 0 10px 0;
    font-size: 1.4em;
}

ul li{
    list-style: none;
}

.navbar{
    /* background-color: thistle; */
}

.nav-links{
   display: flex;
   justify-content: space-around;
}

.nav-links>li{
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 1.3em;
    color: #f3f3f3;

}

.nav-links>li:hover{
    background-color: var(--menuLinkBg);
    cursor: pointer;
}

.nav-links>li>a{
    color: #f3f3f3;
}

/* SECCION MAIN */
